<!DOCTYPE html>
<html lang='en'>

<head>
  <link rel='stylesheet' type='text/css' href='/css/application.css'/>	
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> 
	<title> Prototype Sinatra </title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script type='text/javascript' src='/js/application.js'></script>


</head>

<body>

	<header id="header" data-template="stage-header" class=" header-transparent">
		<div id="header-inner" style="position:relative !important; background-color: #FFA500; text-align: center; height: 50px;" >
			<div style="position: absolute; left: 100px; top: 0px;">
				<img id="brand_nash" src="/img/brand_nash.gif">
			</div>	
			<div> 
					<h1 id="header-logo" class="bitly" >
						<a href="/" rel="no follow"> 
							<span> Quora </span>
						</a>
					</h1>
			</div>
			<br>
			<h1> Profile </h1><br>
			<h2> Please edit your Profile </h2>
			</div>
		</div>
	</header>

			<div style="position: absolute; left: 450px; top: 300px;">
				<form action='/profile' method="post">
						<input type='text' name='user[username]' placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off"><br>
						<input type='text' name='user[first_name]' placeholder="First name" autocomplete="off" autocorrect="off" autocapitalize="off"><br>
						<input type='text' name='user[last_name]' placeholder="Last name" autocomplete="off" autocorrect="off" autocapitalize="off"><br>
						<input type='text' name='user[email]' value= "<%= @user.email %>" autocomplete="off" autocorrect="off" autocapitalize="off"><br>
						<input type='text' name='user[password]' value= "<%= @user.password %>" autocomplete="off" autocorrect="off" autocapitalize="off"></br>
						<button type="submit" class="btn btn-primary" id="signup"> update 
						</button>							
				</form>
			</div>


</body>